body{
    font-family: 'Montserrat', sans-serif;
}
/* header */
#header{
    height: 192px;
    background: url("../images/header_med.png"); 
    background-repeat: no-repeat;
    background-position: center;
    border-style: ridge;
    border-width: 3px;
    border-color: #a79c93;
<<<<<<< HEAD
    /* background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* position: absolute; */
    /* border: thick solid;
    border-color: red;
    font-family: 'Limelight', cursive; */
=======
>>>>>>> ff97204d6830c023a18f6a0a78ca01ab16f4fb13
}
/* map */
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map{
    height: 75vh;
    z-index: 1;
    /* border-style: ridge;
    border-width: 1px;
    border-color: #a79c93; */
}
.buttons{
    z-index: 2; 
    display: block;
    /* flex-direction: column; */
}
/* chat */
h6{
    font-family: 'Limelight', sans-serif;
    background-color: #04060f;
    color: whitesmoke;
    text-align: center;
}
#chat{
    height: 1000px;
    padding-left: 0px; 
     padding-right: 0px;
     margin-left: 0px;
     margin-right: 0px;
}
#userName{
    border-color: #a79c93;
}
#text{
    border-color: #a79c93;
}
#post{
    background-color: #c1403d;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: none;
    margin-top: 2px;
<<<<<<< HEAD

}
/* results */
=======
}

button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color:whitesmoke;
    background-color:#04060F;
}

.odd{
    background-color: whitesmoke; 
}
.even{
    background-color: #0294A5;
    color: whitesmoke;
}
/* results */
#resultsHeader{
    width: 100%;
    padding: 0px;
}
>>>>>>> ff97204d6830c023a18f6a0a78ca01ab16f4fb13
#results{
    height: 1000px;
}
#vote{
    height: 192 px;
}
/* calendar */
#sidebar-wrapper {
    margin-right: -150px;
    right: 70px;
    width: 25vh;
    background: #222;
    /* position: fixed; */
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#vote{
    background-color:#d6cbc2;
}
#clearVotesBtn{
    float: right;
    background-color:#04060F;
    color:whitesmoke;
    border-radius: 8px;
}
p{
    color:#04060F;  
    display: inline-block;
    padding: 7px;
    border-style: ridge;
    border-width: 1px;
    border-color: #04060F;
    justify-content: space-evenly;
}
/* dashboard */
#userPhoto{
    border-radius: 50%;
    width: 20%;
    margin-top: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #0294A5;
}
#newEvent{
    position: relative;
    left:1390px;
    top: 140px;
    background-color: #c1403d;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: none;
}
#user{
    position: relative;
    left:1220px;
    top: 140px; 
}
#accountInfo{
    border-style: ridge;
    border-width: 1px;
    border-color: #a79c93;
}
h5{
    text-align: center;
}
#editUserInfo{
    position: relative;
    left:735px;
    margin-bottom: 5px;
    background-color:#04060F;
    color:whitesmoke;
    border-radius: 8px;
    border: none;
    align-content: center;
}
/* authentication */
#authenticationHeader{
    height: 192px;
    background: url("../images/header_med.png"); 
    background-repeat: no-repeat;
    background-position: center;
}
#logInForm{
    padding: 5px;
    border-style: ridge;
    border-width: 2px;
    border-color: #a79c93;
}
#signUpForm{
    padding: 5px;
    border-style: ridge;
    border-width: 2px;
    border-color: #a79c93;
}
#logIn{
    background-color:#04060F;
    color:whitesmoke;
    border-radius: 8px;
    border: none;
}
#signUp{
    background-color:#04060F;
    color:whitesmoke;
    border-radius: 8px;
    border: none;
}
#createUser{
    background-color: #c1403d;
    color:whitesmoke;
    border-radius: 8px;
    border: none;
}
/* responsiveness */
@media (max-width: 640px) {
    #header {
        height: 96px;
        background: url("../images/header_small.png"); 
        background-repeat: no-repeat;
        background-position: center;
    }
    #map{
        height: 35vh;
        z-index: 1;
    }
    img{
        width: 20px;  height: 20px 
    }
    #chat{
        /* float: left;
       width: 25%; */
       height: 200px;
       padding-left: 0px; 
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
   }
   #userName{
       width:25%;
   }
   #text{
    width:25%;
}
   /* #resultsHeader{
    float: left;
    width: 75%;  
   } */
   #results{
    /* float: left;
   width: 75%; */
   height: 500px;
   }
   #vote{
    height: 96px;
    }
    p{
        color:#04060F;  
        display: inline-block;
        border-style: ridge;
        border-width: 1px;
        border-color: #04060F;
        font-size: xx-small;
    }
    #clearVotesBtn{
        float: right;
        background-color:#04060F;
        color:whitesmoke;
        font-size: x-small;
        border-radius: 8px;
        width: 40px;
    }
}
@media (max-width: 940px) {
    #header {
        height: 96px;
        background: url("../images/header_small.png"); 
        background-repeat: no-repeat;
        background-position: center;
    }
    #map{
        height: 35vh;
        z-index: 1;
    }
    img{
        width: 20px;  height: 20px 
    }
    #chat{
       /* width: 25%; */
       height: 500px;
       padding-left: 0px; 
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
   }
   #results{
   /* width: 75%; */
   height: 500px;
   }
   .poster{
       width: 30px;
       height: 60px;
   }
   #vote{
    height: 75px;
    }
    }

/* @media (max-width: 1200px) {
    #block1, #block2 {
        width: 50%;
    }
} */
/* @media (max-width: 1800px) {
    #block1, #block2 {
        width: 50%;
    }
}  */